/*null*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reey";
  font-display: swap;
  src: url("../fonts/Reey-Regular.woff") format("woff"), url("../fonts/Reey-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 150px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__link {
  font-size: calc(22px + -2 * ((100vw - 320px) / 1120));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 0px 40px 0px 0px;
}

.header__search-form {
  position: relative;
  margin: 0px 30px 0px 0px;
}

.search-form {
  width: 183px;
  height: 51px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 10px 0 6px;
  font-size: 18px;
}

.header__search-icon {
  position: absolute;
  left: 70%;
  top: 25%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

body {
  line-height: 1.2;
  font-family: "OpenSans";
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.intro {
  width: 100%;
  height: 120vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__bg {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.intro__bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.intro__box {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  padding: 0 20px;
}

.intro__box-item_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 160px 0px 0px 100px;
}

.intro__box-item_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100vh - 40px) * 0.8 + 20px);
          flex: 0 0 calc((100vh - 40px) * 0.8 + 20px);
  position: relative;
}

.intro__box-item_2 img {
  max-width: 100%;
}

.imtro__img_1 {
  position: absolute;
  left: 90px;
  top: 120px;
}

.imtro__img_2 {
  position: absolute;
  left: -50px;
  top: 600px;
}

.imtro__img_3 {
  position: absolute;
  top: 530px;
  left: 200px;
}

.intro__logo {
  padding: 0px 0px 20px 0px;
}

.title {
  font-family: "Reey";
  font-size: calc(42px + 49.7 * ((100vw - 320px) / 1120));
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.21);
  color: #ffffff;
  padding: 30px 0px 100px 0px;
}

.intro__sub-title {
  font-family: "Open Sans";
  font-size: calc(18px + 7 * ((100vw - 320px) / 1120));
  line-height: 1.2;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 0px 0px 50px 0px;
}

.intro__btn {
  color: #2e3034;
  display: block;
  font-family: "Open Sans";
  font-size: calc(18px + 7 * ((100vw - 320px) / 1120));
  line-height: 1.8;
  font-weight: 700;
  width: 218px;
  height: 47px;
  opacity: 0.9;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
}

.intro__text {
  padding: 40px 0px 0px 0px;
  font-family: "Open Sans";
  font-size: calc(16px + 4.9 * ((100vw - 320px) / 1120));
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 480px;
}

.menu {
  width: 100%;
  height: 155vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title {
  font-size: calc(32px + 43 * ((100vw - 320px) / 1120));
  color: #222328;
  padding: 80px 0px 80px 0px;
}

.menu__text {
  font-size: calc(14px + 13.1 * ((100vw - 320px) / 1120));
  color: #2f3135;
  width: 750px;
  text-align: center;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 40px 120px 40px;
}

.menu__box-item {
  padding: 0px 0px 0px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__box-item img {
  padding: 0px 0px 0px 30px;
}

.menu__img {
  max-width: 100%;
}

.menu__sub-title {
  font-size: calc(18px + 11.2 * ((100vw - 320px) / 1120));
  font-weight: 700;
  color: #343434;
  padding: 50px 0px 20px 0px;
}

.menu__sub-title_one {
  padding: 68px 0px 20px 0px;
}

.menu__sub-title_two {
  padding: 54px 0px 20px 0px;
}

.menu__box-text {
  font-size: calc(14px + 9 * ((100vw - 320px) / 1120));
  color: #343434;
}

.menu__btn {
  width: 334px;
  height: 75px;
  background-color: #343434;
  border-radius: 40px;
}

.menu__btn-link {
  font-size: calc(18px + 5.2 * ((100vw - 320px) / 1120));
  line-height: 3.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  display: block;
  text-align: center;
}

.info {
  width: 100%;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #27292c;
}

.info__title {
  font-size: calc(32px + 43 * ((100vw - 320px) / 1120));
  line-height: 52px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  font-family: Montserrat;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
}

.info__text p {
  padding: 0px 40px 0px 0px;
}

.info__btn {
  width: 270px;
  height: 58px;
  opacity: 0.9;
  background-color: #fefefe;
  text-align: center;
  border-radius: 26px;
  margin: 80px 0px 0px 0px;
}

.info__btn-link {
  font-family: Montserrat;
  font-size: 26.4px;
  line-height: 2.2;
  font-weight: 700;
  color: #27292c;
}

@media (min-width: 1600px) {
  .menu {
    height: 135vh;
  }
}

@media (max-width: 1024px) {
  .menu__sub-title_one {
    padding: 40px 0px 20px 0px;
  }

  .menu__sub-title_two {
    padding: 36px 0px 20px 0px;
  }

  .menu {
    height: 130vh;
  }

  .menu__btn-link {
    line-height: 3.5;
  }
}

@media (max-width: 768px) {
  .menu__link {
    position: absolute;
    top: -99999px;
  }

  .search-form {
    display: none;
  }

  .search-form.active {
    display: block;
    margin: 7px 0px 0px 0px;
  }

  .header__search-icon {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    left: -25px;
    top: 10px;
  }

  .header__search-icon.active {
    left: 70%;
  }

  .header__burger {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10;
  }

  .header__burger span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }

  .header__burger span:nth-child(1) {
    top: 10px;
  }

  .header__burger span:nth-child(3) {
    top: 30px;
  }

  .header__burger.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 29.5px;
  }

  .header__burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger.active span:nth-child(1) {
    display: none;
  }

  .menu__link.active {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #727272;
  }

  .menu__link.active .header__link {
    padding: 0;
    font-size: 34px;
  }

  .intro__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro {
    height: 200%;
  }

  .intro__box-item_1 {
    padding: 100px 0px 0px 60px;
  }

  .intro__btn {
    line-height: 2.3;
  }

  .imtro__img_3 {
    top: 470px;
  }

  .menu__btn-link {
    line-height: 3.7;
  }

  .menu__sub-title_one {
    padding: 43px 0px 20px 0px;
  }

  .menu__sub-title_two {
    padding: 42px 0px 20px 0px;
  }

  .menu__text {
    width: 500px;
  }

  .info__title {
    line-height: 23px;
  }

  .info__text {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px 20px 0px 40px;
  }

  .info__text p {
    padding: 0px 0px 20px 0px;
  }

  .info__btn {
    margin: 60px 0px 0px 0px;
  }
}

@media (max-width: 660px) {
  .menu__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__box-item {
    padding: 0px 0px 40px 0px;
  }

  .menu__sub-title {
    padding: 0px 0px 10px 0px;
  }

  .menu__box {
    padding: 80px 40px 60px 40px;
  }

  .menu {
    height: 240vh;
  }

  .info {
    height: 700px;
  }
}

@media (max-width: 520px) {
  .menu__text {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .intro__box {
    padding: 0;
  }

  .intro__text {
    width: 260px;
  }

  .intro {
    height: 170%;
  }

  .imtro__img_1 {
    left: 50px;
    top: 80px;
  }

  .imtro__img_2 {
    left: -50px;
    top: 400px;
  }

  .imtro__img_3 {
    top: 270px;
  }

  .intro__btn {
    line-height: 2.5;
  }
}

@media (max-width: 425px) {
  .menu__text {
    width: 300px;
  }

  .menu__btn {
    width: 260px;
  }

  .menu__btn-link {
    line-height: 4;
  }

  .menu {
    height: 240vh;
  }
}

@media (max-width: 420px) {
  .header__burger {
    left: 20px;
  }
}

@media (max-width: 375px) {
  .menu {
    height: 220vh;
  }
}

@media (max-width: 360px) {
  .info {
    height: 800px;
  }

  .info__title {
    line-height: 0;
  }
}

@media (max-width: 340px) {
  .menu {
    height: 190vh;
  }
}