
@import "mixin";
@import "nullstyle";
@import "fonts";
@import "header";
@import "ui";
@import "footer";
@import "media";

// font-family: "Reey";
// font-family: "OpenSans";
// font-family: "Montserrat";

body{
	line-height: 1.2;
	font-family: "OpenSans";
	font-weight: 400;
	color: #ffffff;
}
body.lock{
	overflow: hidden;
}
.intro {
	width: 100%;
	height: 120vh;
overflow-x: hidden;
	display: flex;
	
	
}
.intro__bg {
	position: relative;
	flex: 1 0 100%;
}
.intro__bg img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.intro__box {
position: absolute;
left: 0;top: 0;
	display: flex;
max-width: 1400px;
padding: 0 20px;
}
@media (max-width: 768px){
	.intro__box{flex-direction: column;}
	.intro{height: 200%;}
	.intro__box-item_1{	padding: 100px 0px 0px 60px;}
	.intro__btn{line-height: 2.3;}
	.imtro__img_3{top: 470px;}
}
@media  (max-width: 430px){
	.intro__box{padding: 0 ; }
	.intro__text{width: 260px;}
	.intro{height: 170%;}
	.imtro__img_1{left: 50px;top: 80px;}
	.imtro__img_2{left: -50px;top: 400px;} 
	.imtro__img_3{top: 270px;}
	.intro__btn{line-height: 2.5;}
}
.intro__box-item_1{
	flex: 0 0 100%;
	padding: 160px 0px 0px 100px;
}
.intro__box-item_2{
	flex: 0 0 calc(((100vh - 40px)*0.8) + 20px);
position: relative;
}
.intro__box-item_2 img{max-width: 100%;}
.imtro__img_1{position: absolute; left: 90px;top: 120px;} 
.imtro__img_2{position: absolute;left: -50px;top: 600px;} 
.imtro__img_3 {position: absolute;top: 530px;left: 200px;}
.intro__logo {
	padding: 0px 0px 20px 0px;
}
.title {
	font-family: "Reey";
	@include adaptiv-font(91.7, 42);
	line-height: 1.2;
	font-weight: 400;
	text-shadow: 0px 5px 5px rgba(84,82,79,0.21);
	color: #ffffff;
	padding: 30px 0px 100px 0px;
}
.intro__sub-title {
	font-family: 'Open Sans';
@include adaptiv-font(25, 18);
line-height: 1.2;
font-weight: 700;
font-style: italic;
letter-spacing: 0.2em;
color: #ffffff;
padding: 0px 0px 50px 0px;
}
.intro__btn {
	color: #2e3034;
	display: block;
	font-family: 'Open Sans';
@include adaptiv-font(25, 18);
line-height: 1.8;
font-weight: 700;
width: 218px;
height: 47px;
opacity: 0.9;
background-color: #ffffff;
text-align: center;
border-radius: 20px;
text-transform: uppercase;
}
.intro__text {
	padding: 40px 0px 0px 0px;
	font-family: 'Open Sans';
@include adaptiv-font(20.9, 16);
line-height: 1.2;
font-weight: 400;
font-style: italic;
letter-spacing: 0.05em;
color: #ffffff;
width: 480px;
}

//*===================> section__menu:
.menu {
	width: 100%;
	height: 155vh;
display: flex;
flex-direction: column;

align-items: center;

}
.menu__title {
	@include adaptiv-font(75, 32);
color: #222328;

padding: 80px 0px 80px 0px;

}
.menu__text {
	@include adaptiv-font(27.1, 14);
color: #2f3135;
width: 750px;
text-align: center;


}
.menu__box {
	display: flex;
	padding: 80px 40px 120px 40px;

	
	
}
.menu__box-item {
	padding: 0px 0px 0px 30px;
	justify-content: center;
	
	
}
.menu__box-item img{padding: 0px 0px 0px 30px;
}

.menu__img {
	max-width: 100%;
}
.menu__sub-title {
@include adaptiv-font(29.2, 18);
font-weight: 700;
color: #343434;
padding: 50px 0px 20px 0px;



}
.menu__sub-title_one{padding: 68px 0px 20px 0px;}
.menu__sub-title_two{padding: 54px 0px 20px 0px;}
.menu__box-text {
	@include adaptiv-font(23, 14);


color: #343434;
}
.menu__btn {
	width: 334px;
height: 75px;
background-color: #343434;
border-radius: 40px;
}
.menu__btn-link {
@include adaptiv-font(23.2, 18);
line-height: 3.2;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
display: block;
text-align: center;
}
@media (max-width: 1024px) {
	.menu__sub-title_one{padding: 40px 0px 20px 0px;}
	.menu__sub-title_two{padding: 36px 0px 20px 0px;}
	.menu{height: 130vh;}
	.menu__btn-link{line-height: 3.5;}
}
@media (max-width: 768px){
	.menu__btn-link{line-height: 3.7;}
	.menu__sub-title_one{padding: 43px 0px 20px 0px;}
	.menu__sub-title_two{padding: 42px 0px 20px 0px;}
	.menu__text {width: 500px;}
}
@media (max-width: 660px){
.menu__box{flex-direction: column;}
.menu__box-item{padding: 0px 0px 40px 0px;}
.menu__sub-title{padding: 0px 0px 10px 0px;}
.menu__box {padding: 80px 40px 60px 40px;}
.menu{height: 240vh;}
}
@media (max-width: 520px){
	.menu__text {width: 400px;}
}
@media (max-width: 425px){
	.menu__text {width: 300px;}
	.menu__btn {width: 260px;}
	.menu__btn-link{line-height: 4;}
	.menu{height: 240vh;}
}
@media (max-width: 375px){
	.menu{height: 220vh;}
}

@media (max-width: 340px){
	.menu{height: 190vh;}
}
@media (min-width: 1600px){.menu{height: 135vh;}}
//*=======================> section__info:

.info {
	width: 100%;
	height: 560px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #27292c;
	
}
.info__title {
	@include adaptiv-font(75, 32);

line-height: 52px;
}
.info__text {
	display: flex;
	width: 80%;
	font-family: Montserrat;
	@include adaptiv-font(16, 14);
line-height: 25px;
font-weight: 400;
color: #ffffff;
}
.info__text p{padding: 0px 40px 0px 0px;}
.info__btn {
	width: 270px;
height: 58px;
opacity: 0.9;
background-color: #fefefe;
text-align: center;
border-radius: 26px;
margin: 80px 0px 0px 0px;


}
.info__btn-link {
	font-family: Montserrat;
font-size: 26.4px;
line-height: 2.2;
font-weight: 700;
color: #27292c;

}


@media (max-width: 768px){
	.info__title{line-height: 23px;}
	.info__text{width: 100%; flex-direction: column;text-align: center;padding: 0px 20px 0px 40px;}
	.info__text p{padding: 0px 0px 20px 0px;}
	.info__btn{margin: 60px 0px 0px 0px;}
	}
	@media (max-width: 660px){
		.info{height: 700px;}
	}

	@media (max-width: 360px){
		.info{height: 800px;}
		.info__title{line-height: 0;}
	}


	//*================> section__discount:
	.discount {
		height: 100%;
		height: 200vh;
	}
	.discount__box {
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 80px;
	
	
	
	}
	.discount__box-item {
		display: flex;
		align-items: center;
		margin: 0px 0px 50px 0px;
		
	}
	.discount__img {
		max-width: 100%;
		flex: 50%
		
	}
	.discount__content {
		padding: 0px 30px 0px 30px;
		flex: 50%

	}
	.discount__title {
@include adaptiv-font(58.4, 34);
padding: 0px 0px 40px 0px;
line-height: 1.2;
font-weight: 700;
color: #27292c;
	}
	.discount__text {
		@include adaptiv-font(29.2, 18);
line-height: 23px;
color: #27292c;
padding: 0px 0px 50px 0px;
	}
	.discount__btn {
		width: 334px;
height: 75px;
background-color: #27292c;
border-radius: 30px;
text-align: center;
	}
	.discount__link {
font-size: 29.2px;
line-height: 2.5;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
	}
	@media (max-width: 1024px){
		.discount{height: 150vh;}
	}

	@media (max-width: 768px)  {
		.discount__box-item{flex-direction: column;}
		.discount__content{order: -1; margin: 0px 0px 40px 0px;}
			.discount{height: 280vh;}
		
	}
	
	@media (max-width: 425px){
		.discount{height: 220vh;}
	}
	@media (max-width: 360px){
		.discount__btn{width: 280px;}
	}
	@media (min-height: 800px){
	.discount{height: 204vh;}
}
@media (min-height: 900px){
	.discount{height: 150vh;}
}
	//*================> section__preview:
	.preview {
		width: 100%;
		height: 150vh;
		display: flex;
		position: relative;
	}
	.preview__bg {
		flex: 1 0 100%;
		position: relative;
		
	}
	.preview__bg img{
		position: absolute;
		left: 0;top: 0;
		width: 100%;height: 100%;
}

	.preview__titles {
		position: absolute;
text-align: center;
color: #f8f6f1;
margin: 50px auto 0px auto;

	}
	.preview__title {
		font-family: "Reey";
		@include adaptiv-font(58.4, 34);
line-height: 4;
	


	}
	.preview__text {
		font-family: "Montserrat";
		@include adaptiv-font(25, 18);
font-size: 25px;
line-height: 33px;
width: 50%;
margin: 0 auto;
}
.preview__text::after{
	content: '';
	position: absolute;
	left: 44.3%;
	top: 110%;
	width: 162px;
height: 10px;
background-color: #fafafa;
}
	.preview__titles-img {
		position: absolute;
		top: -65%;left: 0;
		max-width: 100%;
	}
	.preview__images {
		position: absolute;
		left: 34%;top: 42%;

	}
	.preview__images img{
	max-width: 100%;
	}

	.preview__inner-img {
		position: absolute;
		left: -20%;top: 56%;
		width: 448px;
			max-width: 100%;
	}


	@media (min-height: 800px){
		.preview{height: 120vh;}
	}
	@media (min-height: 900px){
		.preview{height: 108vh;}
	}
	@media (max-width: 1024px){
		.preview__titles-img{left: -5%;}
		.preview{height: 130vh;}
		.preview__inner-img{left: -33%;top: 56%;	width: 408px;}
	}
	@media (max-width: 768px){
		.preview__titles-img{left: 0%;top: 5%;}
		.preview__inner-img{width: 350px;}
		.preview{height: 120vh;}
		.preview__text::after{width: 100px;}
		.preview__images{top: 50%;}
	}
	@media (max-width: 425px){
		.preview__title{line-height: 2;padding: 0px 0px 30px 0px;}
		.preview__titles-img{top: -2%;}
		.preview__text::after{width: 80px;height: 5px;left: 41.3%;}
		.preview__text{width: 70%;}
		.preview__images{top: 69%;}
		.preview__inner-img{width: 180px;}
		.preview{height: 95vh;}
	}
	@media (max-width: 375px){
		.preview__inner-img{width: 160px;}
		.preview__images{top: 73%;}
	}
	@media (max-width: 325px){
		.preview__titles-img{top: 25%;}
		.preview__inner-img{width: 140px;}
		.preview__images{top: 76.7%;}
	}

	//*=================> section__coments:
	.coments {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;width: 100%;
	}
	.coments__box {
		display: flex;
		margin: 0px 50px 0px 50px;
		
		
		
	}
	.coments__box-item {
		padding: 0 50px;
	}
	.coments__title {
		text-align: center;
		font-family: "Reey";
		@include adaptiv-font(41.7, 26);
line-height: 33px;
color: #393939;
padding: 0px 0px 40px 0px;

	}
	.coments__text {
		@include adaptiv-font(18.8, 16);

line-height: 24px;
color: #333d42;

	}
	.coments__quote {
		margin: 0 auto;
		
		@include adaptiv-font(25, 18);
font-weight: 600;
color: #3f3f3f;
width: 60%;
text-align: center;
	}
	.quote__autor {
		margin: 50px 0px 0px 0px;
		
		text-align: center;
		@include adaptiv-font(23.9, 18);
line-height: 33px;
font-weight: 800;
color: #3f3f3f;
	}
	@media (max-width: 1024px){
		.coments__box-item{padding: 0 20px;}
	}
	@media (max-width: 768px){
		.coments__box{flex-direction: column;}
		.coments__quote{width: 70%;}
	.coments__box-item{padding: 0px 0px 40px 0px;
	}
	}
	@media (max-width: 425px){
		.coments{height: 130vh;}
		.coments__box{	margin: 0px 20px 0px 20px;}
	}
	@media (max-width: 325px){
		.coments__quote{width: 80%;}
	}

	//*================> section__subscribe:
	.subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		background-color: #27292c;
		width: 100%;
height: 100vh;
text-align: center;
	}
	.subscribe__img {
		position: absolute;
		left: 0;top: -6%;
		max-width: 100%;
	}
	.subscribe__title {
		padding: 0px 0px 60px 0px;
		
	@include adaptiv-font(75, 44);
font-weight: 700;
color: #ffffff;
	}
	.subscribe__text {
		@include adaptiv-font(29.8, 18);
		padding: 0px 0px 70px 0px;
width: 60%;
	}
	.subscribe__form{
		display: flex;
		justify-content: center;
		z-index: 3;
	}
.subscribe__box_sf {
width: 700px;
background-color: #ffffff;
border-radius: 36px;
}
	.subscribe__search-form {
padding: 10px 0px 10px 0px;

font-size: 26px;
	}
.subscribe__btn {
		background-color: #ffffff;
		border-radius: 36px;
		width: 200px;
		font-size: 26px;
		color: #ffffff;
		background-color: #797979;
		padding: 10px 0px 10px 0px;
		font-weight: 700;
		z-index: 4;
		position: absolute;
		left: 60.4%;
		
	}
	
	@media (max-width: 1024px){
		.subscribe__btn{left: 64.6%;}
		.subscribe__text{width: 70%;}
		.subscribe{height: 80vh;}
		.subscribe__img{top: 4%;}
	}
	@media (max-width: 768px){
		.subscribe{height: 70vh;}
		.subscribe__box_sf{width: 400px;}
		.subscribe__form{flex-direction: column;}
		.subscribe__btn{left: 37.6%;margin: 20px 0px 0px 0px;
		}
	}
	@media (max-width: 425px){
		.subscribe__img{top: 20%;}
		.subscribe__text{width: 90%;}
		.subscribe__btn{left: 27.5%;font-size: 20px;}
		.subscribe__box_sf{width: 300px;}
		.subscribe__search-form{font-size: 20px;}
			
	
	}
	@media (max-width: 375px){
		.subscribe__btn{left: 25%;}

	}
	@media (max-width: 325px){
		.subscribe__btn{left: 20%;}
		.subscribe__img{top: 25%;}
		.subscribe{height: 60vh;}
	}

	//*==============> footer:
	.footer {
		width: 100%;
		height: 100%;
	display: flex;
	

		

	}
	.footer__box {
		display: flex;
		
		align-self: center;
		padding: 0 50px;
		
	}
	.footer__box-item_big{
		flex: 1 0 40%;
margin: 0px 50px 0px 0px;
flex-direction: column;

	
	}
	.footer__box-item {
		padding: 0px 0px 0px 30px;
		display: flex;
		
	}
	.footer__title {
		font-family: "Montserrat";
		@include adaptiv-font(31.6 , 24);
color: #343434;
padding: 0px 0px 35px 0px;

	}
	.footer__text {
		font-family: "Montserrat";
		@include adaptiv-font(23.7 , 18);
color: #343434;
padding: 0px 0px 30px 0px;
	}
	.footer__social {
	}
	.footer__list {
padding: 0px 0px 0px 30px;


	}
	.footer__link-title {
		font-family: "Montserrat";
		@include adaptiv-font(31.6 , 24);
color: #343434;
padding: 0px 0px 30px 0px;
	}
	.footer__link {
		font-family: "Montserrat";
		@include adaptiv-font(23.7 , 18);
line-height: 41px;
color: #343434;
	}

	@media (max-width: 1024px){
		.footer__box-item{padding: 0px 0px 0px 15px;}
		.footer__box{padding: 0 30px;}
	}
	@media (max-width: 768px){
		.footer__box{flex-direction: column;}
		.footer__box-item_big{padding: 0px 0px 30px 0px;}
		
	}
	@media (max-width: 640px){
		.footer__box-item{flex-wrap: wrap;}
		.footer__list{padding: 0px 20px 30px 0px;}
		.footer__link-title{padding: 0px 0px 10px 0px;
		}
	}
	@media (max-width: 460px){
		.footer{height: 110vh;}
	}
	@media (max-width: 380px){
		.footer{height: 140vh;}
	}